SorozatServiceLibrary/ClientWpfApp/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SorozatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SorozatServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISorozatService_Sorozatok_InputMessage">
    <wsdl:part name="parameters" element="tns:Sorozatok" />
  </wsdl:message>
  <wsdl:message name="ISorozatService_Sorozatok_OutputMessage">
    <wsdl:part name="parameters" element="tns:SorozatokResponse" />
  </wsdl:message>
  <wsdl:message name="ISorozatService_Epizodok_InputMessage">
    <wsdl:part name="parameters" element="tns:Epizodok" />
  </wsdl:message>
  <wsdl:message name="ISorozatService_Epizodok_OutputMessage">
    <wsdl:part name="parameters" element="tns:EpizodokResponse" />
  </wsdl:message>
  <wsdl:portType name="ISorozatService">
    <wsdl:operation name="Sorozatok">
      <wsdl:input wsaw:Action="http://tempuri.org/ISorozatService/Sorozatok" message="tns:ISorozatService_Sorozatok_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISorozatService/SorozatokResponse" message="tns:ISorozatService_Sorozatok_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Epizodok">
      <wsdl:input wsaw:Action="http://tempuri.org/ISorozatService/Epizodok" message="tns:ISorozatService_Epizodok_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISorozatService/EpizodokResponse" message="tns:ISorozatService_Epizodok_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISorozatService" type="tns:ISorozatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sorozatok">
      <soap:operation soapAction="http://tempuri.org/ISorozatService/Sorozatok" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Epizodok">
      <soap:operation soapAction="http://tempuri.org/ISorozatService/Epizodok" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SorozatService">
    <wsdl:port name="BasicHttpBinding_ISorozatService" binding="tns:BasicHttpBinding_ISorozatService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SorozatServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>