SorozatServiceLibrary/ClientWpfApp/Service References/ServiceReference1/SorozatServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SorozatServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SorozatServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEpizod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Epizod" nillable="true" type="tns:Epizod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEpizod" nillable="true" type="tns:ArrayOfEpizod" />
  <xs:complexType name="Epizod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hossz" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Epizod" nillable="true" type="tns:Epizod" />
</xs:schema>